#search {
    position: absolute;
    background: #fff;
    left: 0px;
    top: 56px;
    width: 400px;
    box-shadow: 0px 24px 74px 0px rgba(0, 0, 0, .32);
    border: 1px solid #ccc;
    overflow: hidden;
}

#results-panel {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
    max-height: calc(100vh - 320px);
}